<!--<div class="input-group input-group-sm" style="max-width: 210px;">-->

<div>
  <!-- Your content here -->

<div class="input-group input-group-sm search-field-width">

    <input (keyup.enter)="searchGo()"
           type="text" maxlength="250"
           class="form-control input-searcher"
           placeholder="{{ui.uiElements.at(196)}}"
           aria-label="search"
           aria-describedby="basic-addon1" [(ngModel)]="productService.searchString">

  <button class="btn btn-sm btn-outline-secondary button-searcher" type="button" (click)="searchGo()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg>
  </button>


<!--  <button style="border-width: 0px; opacity: 80%;"-->
<!--          class="btn btn-sm text-primary" type="button" id="button-addon41"-->
<!--          (click)="resetSearch()">-->
<!--    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">-->
<!--      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>-->
<!--      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>-->
<!--    </svg>-->
<!--  </button>-->

</div>

  <input (focus)="onInputFocus()" width="0" style="opacity: 0; position: absolute;"/>

</div>
