<div class="container" style="margin-top: 20px; margin-bottom: 150px;">

  <!--<h5>Wish list</h5>-->
  <h5>{{ui.uiElements.at(173)}}
    <svg style="cursor: pointer;" (click)="_showInfo=!_showInfo;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg>
  </h5>

  <!--    <p>Thank you for your interest.-->
  <!--      This page contains a list of the items that you have marked.-->
  <!--      Please enter your name and email in the form at the bottom of the page and send us a message.-->
  <!--      We will contact you as soon as possible and discuss all the details.</p>-->

  <p *ngIf="_showInfo"><small>{{ui.uiElements.at(174)}} {{ui.uiElements.at(175)}}</small>
    &nbsp;<svg style="cursor: pointer;" (click)="_showInfo=false;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
    </svg>
  </p>

  <hr>

  @if (cartService.cart) {
    @if (cartService.cart.cartCells.length > 0) {

      <ng-container *ngFor="let cartCell of cartService.cart.cartCells">
        <div class="card mb-3" style="max-width: 700px;">
          <div class="row g-0">

            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <app-image-small [images]="cartCell.product.images"
                               (click)="goToProduct(cartCell.product.productId)"
                               style="cursor: pointer; margin: 5px;">
              </app-image-small>
            </div>

            <div class="col-md-6">
              <div class="card-body">
                <h6 class="card-title">
                  <ng-container *ngFor="let descriptor of cartCell.product.titleDescriptors">
                    @if (descriptor.language.languageId === currentLanguageService.currentLanguage.languageId) {
                      {{ descriptor.value }}
                    }
                  </ng-container>
                </h6>
                <p class="card-text">
                  <ng-container *ngFor="let descriptor of cartCell.product.briefDescriptors">
                    @if (descriptor.language.languageId === currentLanguageService.currentLanguage.languageId) {
                      {{ descriptor.value }}
                    }
                  </ng-container>
                </p>
                <p class="card-text">
                  <strong>{{ cartCell.product.offerPrice | currency:'EUR' }}</strong>
                </p>
                <p class="card-text text-end">
                  @if(!cartService.cart.isInterestLetterSent) {
                    <small class="text-body-secondary align-self-center">
                      <a style="cursor: pointer;" (click)="deleteFromCart(cartCell)">

                        <!-- Delete from the list -->
                        {{ui.uiElements.at(195)}}&nbsp;&nbsp;

                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                      </a>
                    </small>
                  }
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="input-group mb-3">

    <!--      <span class="input-group-text">Name</span>-->
          <span class="input-group-text">{{ui.uiElements.at(87)}}</span>

          <input type="email" class="form-control" placeholder="" aria-label="Name" aria-describedby="basic-addon1"
                 [(ngModel)]="name">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Email</span>
        <input type="email" class="form-control" placeholder="" aria-label="Email" aria-describedby="basic-addon1"
               [(ngModel)]="email" required>
      </div>


      <div class="input-group mb-3">

  <!--      <span class="input-group-text">Phone</span>-->
        <span class="input-group-text">{{ui.uiElements.at(151)}}</span>

        <input type="email" class="form-control" placeholder="" aria-label="Phone" aria-describedby="basic-addon1"
               [(ngModel)]="phone">
      </div>

      <div class="input-group">

  <!--      <span class="input-group-text">Message</span>-->
        <span class="input-group-text">{{ui.uiElements.at(156)}}</span>

        <textarea class="form-control" aria-label="Message" maxlength="500"
                  [(ngModel)]="message"></textarea>
      </div>
      <p></p>

      <div class="d-flex">
        @if(!cartService.cart.isInterestLetterSent) {

  <!--        <button class="btn btn-sm btn-primary me-auto" (click)="sendInterestDeclarationEmail()">184 Send letter</button>-->
          <button class="btn btn-sm btn-primary me-auto" (click)="sendInterestDeclarationEmail()">{{ui.uiElements.at(184)}}</button>

        } @else {
            @if (!_askToConfirm) {
              <div class="dropdown">
                <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                  <!--                Actions-->
                  {{ui.uiElements.at(176)}}

                </button>
                <ul class="dropdown-menu" style="cursor: pointer;">

  <!--                <li><span *ngIf="sendButtonIsFree" class="dropdown-item" (click)="sendInterestDeclarationEmail()">Send the letter again 177</span></li>-->
                  <li><span *ngIf="sendButtonIsFree" class="dropdown-item" (click)="sendInterestDeclarationEmail()">{{ui.uiElements.at(177)}}</span></li>

  <!--                <li><span *ngIf="!sendButtonIsFree" class="dropdown-item">178 Send the letter again (after {{remainingTime}} sec.)</span></li>-->
                  <li><span *ngIf="!sendButtonIsFree" class="dropdown-item">{{ui.uiElements.at(178)}} {{remainingTime}} sec.)</span></li>

  <!--                <li><span *ngIf="sendButtonIsFree" class="dropdown-item" (click)="179 openToCorrectList()">Open list to correct</span></li>-->
                  <li><span *ngIf="sendButtonIsFree" class="dropdown-item" (click)="openToCorrectList()">{{ui.uiElements.at(179)}}</span></li>

  <!--                <li><span *ngIf="sendButtonIsFree" class="dropdown-item" (click)="_askToConfirm = true;">180 Clear the list</span></li>-->
                  <li><span *ngIf="sendButtonIsFree" class="dropdown-item" (click)="_askToConfirm = true;">{{ui.uiElements.at(180)}}</span></li>

                </ul>
              </div>
            } @else {
              <div>

  <!--              <p>181 Are you sure to clear the list?</p>-->
                <p>{{ui.uiElements.at(181)}}</p>

                <div class="d-flex">
  <!--                <button class="btn btn-sm btn-outline-success me-auto  p-1" (click)="_askToConfirm = false;">182 No, thanks</button>-->
                  <button class="btn btn-sm btn-outline-success me-auto  p-1" (click)="_askToConfirm = false;">{{ui.uiElements.at(182)}}</button>

  <!--                &nbsp;<button class="btn btn-sm btn-outline-danger p-1" (click)="_askToConfirm = false; clearList()">183 Yes: clear list</button>-->
                  &nbsp;<button class="btn btn-sm btn-outline-danger p-1" (click)="_askToConfirm = false; clearList()">{{ui.uiElements.at(183)}}</button>

                </div>
              </div>
            }
        }
      </div>
  }
}
</div>

