@if (images) {

  <div class="row" style="max-width: 500px">
    <img [src]="focusedImage.imageUrl"
         style="cursor: pointer;"
         (click)="_imageUrlGoTOModal = focusedImage.imageUrl; openModal()">
  </div>

  <div class="row" style="max-width: 500px; margin-top: 10px;" *ngIf="images.length > 1">
    <div class="image-container" style="display: flex; flex-wrap: wrap;">
      <div *ngFor="let image of images"
           style="max-height: 100px; flex: 0 0 20%; margin-right: 3px !important; margin-bottom: 3px !important;">

            <img [src]="image.imageUrl"
                 style="cursor: pointer;"
                 width="100%"
                 (click)="focusedImage = image"
                 class="d-inline img-fluid"
                 [ngStyle]="{'opacity': image.imageId === focusedImage.imageId ? 0.5 : 1}">

      </div>
    </div>
  </div>

  <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <img [src]="_imageUrlGoTOModal" class="d-block w-100 aspect-ratio">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>

}



