<span class="nav-item dropdown text-white-50">
          <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="text-white" *ngIf="currentLanguageService.currentLanguage">{{ currentLanguageService.currentLanguage.languageCode }}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <li *ngFor="let language of currentLanguageService.activeLanguageArray">
                <a style="cursor: pointer;" class="dropdown-item text-primary" (click)="languageSelect(language)">{{ language.languageCode }}</a>
             </li>
          </ul>
</span>
